<!DOCTYPE html>
<html lang="en">
<head>
  <title>Fofit</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server"></asp:ContentPlaceHolder>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
       <a class="navbar-brand" href="#">FOfit</a> 
        </div>
      <ul class="nav navbar-nav">
      <li> <a href="Anasayfa.aspx">Ana Sayfa</a></li>
      <li> <a href="DiyetListesi.aspx">Diyet Listesi</a></li>
      <li> <a href="CalısmaProgramı.aspx">Calısma Programı</a></li>
      <li> <a href="KullanıcıListesi.Aspx">Kullanıcı Bilgileri</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
        <li> <a href="Giris.aspx"><span class="glyphicon glyphicon-log-in"></span> Çıkış Yap</a></li>
      </ul>
    </div>
</nav>
    <asp:ContentPlaceHolder ID="ContentPlaceHolder2" runat="server"></asp:ContentPlaceHolder>
</body>
</html>